
body{
    background-color: #8b8b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
}

.cv{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: white;
    display: grid;
    grid-template-columns:1fr 2fr ;
    box-shadow: 0.35px 55px rgba(0,0,0,0.1);
}

.cv .gauche{
    position: relative;
    background-color:#e7e7e7;
    padding: 40px;
  
    
}
.cv .droite{
    position: relative;
    background-color:rgb(255, 255, 255);
    padding: 40px;
    
}

.profiltexte{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    border-bottom:1px solid rgba(43, 43, 43, 0.3);
}

.profiltexte h2{
    color: rgb(0, 0, 0);
    font-size: 2em;
}

.img{
    
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.contact{
    padding-top: 40px;
    color: rgb(0, 0, 0);
}

.contact h3{
    font-size: 1.5em;
    text-decoration: underline;
}
.apdm h1{
    text-decoration: underline;
}

.apdm{
    text-align: left;

}
.empl h2{
    text-decoration: underline;
}

.empl{
    text-align: left;

}

.expro{
    text-align: left;
}
.expro h2{
    text-decoration: underline;
}
.etude h2{
    text-decoration: underline;
}
.etude{
    text-align: left;
}
.diplome h2{
    text-decoration: underline;
}
.connaissance{
    text-align: left;
}
.connaissance h2{
    text-decoration: underline;
}

.date{
    font-weight: bold;
}

.italic{
    font-style: italic;
}